## Python For Beginners

### Module 1 - Python Basics

LEARNING OBJECTIVES
In this lesson you will learn the basics of Python and you will write your first Python program:

Types
Expressions and Variables
String Operations

#### lets try your first program in python

In [1]:
#-is used for commenting on the python script or to give a necessary statements
#print Hello world!
#To run the cell press ctrl+Enter or Run button below the menu bar
print ("Hello world!")

Hello world!

In the above cell the string is used inside the paranthesis as the statement that to be given as output. if you notice the string is present within the double quotes. Any string or vaiables inside the paranthesis is called argument.

NOTE: you can also give single quotes to print a string following a proper syntax

### Say Hello World on two lines
Let's print Hello and World on two separate lines. Hint: \n in the middle of the string acts as a new line character. E.g. print("line 1\nline 2"). Let's try it now. Type in a print statement in the cell bellow. Don't forget to do shift+enter to run the cell:

In [1]:
print("Hello\nWorld!")

Hello
World!

### Data Type / Type

A type is how the Python tool represents different types of data. We will discuss
some widely used types in Python. You can have different types in Python.
They can be integers like 11, real numbers like 21.213. They can even be words.
Integers, real numbers and words can be expressed as different data types.

In [2]:
type(1) #Integer datatype

int

In [3]:
type(1.1) # Float Datatype

float

In [4]:
type(-4)

int

In [5]:
type(-4.0)

float

In [7]:
type(0)

int

In [8]:
type(0.0)

float

In [9]:
type('Aravind') # String Datatype

str

In [10]:
type("Aravind Raman")

str

In [11]:
#Boolean Datatype
type(True) #note the first letter must be in capital for boolean

bool

In [12]:
type(False)

bool

In [13]:
bool(1)

True

In [14]:
bool(0)

False

### Expressions
Expressions describe a type of operation that computers perform.
Expressions are operations that Python performs. For example, basic arithmetic operations like
adding multiple numbers. The result, in this case 80+80 , is 160.

In [15]:
5+5 # addition

10

In [16]:
5-5 # subtraction

0

In [17]:
5*5 # Multiplication

25

In [18]:
5/5 # Division - the quotient value will be in float type when single slash is used

1.0

In [19]:
5//5 # the quotient will be in integer type

1

In [20]:
5**3 # ** is a power operator in pyton

125

### Variables 
We can use variables to store values, in this case, we assign a value of 1 to the variable_1

In [21]:
# '=' is a assignment operator
variable_1 = 1

In [22]:
variable_1 #type var and tab

1

In [23]:
x = 120

In [24]:
x=x/5

In [25]:
x

24.0

In the above calculation of x, at first the value of x is assigned to 120 later a expression is made by divding x/5 which is 120/5 and the value has to be stored again in x. Hence the x will have the new value 24.0 overwritten.

In [26]:
# example problem: calculate totat hour if total mins = 140
total_min = 140 #'_' underscore is used for continuation of the variable instead of space
totalhr = total_min/60
totalhr

2.3333333333333335

### String Methods
In Python, a string is a sequence of characters.
A string can be spaces or digits
A string can have special characters which is that it must be present with in quotes either single or double

In [8]:
Name = 'Aravind Raman'


#### Slicing or Indexing:
Process of getting the element from the string from its elemental address is called indexing or Slicing 
extract a single character from a string, follow the string with the index of the desired character surrounded by square brackets ([ ]),
remembering that the first character of a string has index zero.

In [9]:
Name[:] # indexing operation

'Aravind Raman'

In [10]:
Name[0:2] #prints the character excluding the 2nd position #0,1 only

'Ar'

In [29]:
Name[1:] # Prints from the position except '0'

'ravind Raman'

In [30]:
Name[-1:]#Prints the index from last character

'n'

In [31]:
Name[:-1]#prints the index except last character

'Aravind Rama'

In [32]:
Name[::2]#Prints the characters in the second position from the range in Name
#Note : The Space is also considered as the character

'AaidRmn'

In [33]:
Numbers="0123456"
Numbers[::2]

'0246'

In [34]:
Name[0:9:3]#in the ramge of index 0 to 9 prints the 3rd element

'Avd'

In [35]:
#to get length of the string:
len(Name)# prints the total lenght of the character including space in the Name varible

13

In [16]:
# string Concatenation
Statement = Name + " is a data scientist"
Statement

'Aravind Raman is a data scientist'

In [20]:
#escape sequence
# Left tab
print("'\t HelloWorld'")

 
# Right tab
print("'HelloWorld \t'")

 
# Center tab
print("'Hello\t World'")

'	 HelloWorld'
'HelloWorld 	'
'Hello	 World'

In [47]:
#  New line
print("'Hello\nWorld'")

'Hello
World'

In [27]:
test_string = "HelloWorld"
 
test_string.rjust(20)

'          HelloWorld'

In [49]:
test_string.ljust(20)

'HelloWorld          '

In [29]:
#String Methods
Name.upper() #function converts to uppercase

'ARAVIND RAMAN'

In [30]:
Name.lower() #function converts to lowercase

'aravind raman'

In [34]:
# Replace
# The method replaces a segment of the string, i.e., a substring with a new string.
# We input the part of the string we would like to change.
# The second argument is what we would like to exchange the segment with.
x = Name.replace('Aravind','V K Aravind')
y = 'Ashmitha Ashok'.replace('Ashok','Aravind')
print(y)

Ashmitha Aravind

In [35]:
#Find
#The method find, finds sub-strings. The argument is the sub-string you would like to find. 
print(Name)
Name.find('Ar') # the output is the first index of the sequence
#Note:If the sub-string is not in the string, the output is negative one(-1)

Aravind Raman

0

In [6]:
#excercise

3 + 2 * 2

7

In [7]:
name = 'Lizz'
print(name[0:2])

Li

In [11]:
var = '01234567'

In [12]:
print(var[::2])

0246

In [15]:
'1'+'2'#string concatenation

'12'