## PYTHON MODULE : 2
### Python Data Structures

    - Tuples
    - List
    - Dictionary

### Tuples:
    - Tuples are an ordered sequence.
    - Tuples are expressed as comma-separated elements within parentheses.
    - Tuple are immuatable/ Unchangable.
    - Tuples are faster than list

In Python, there are different types: strings, integer, float.
They can all be contained in a tuple, but the type of the variable is tuple.

In [3]:
tup = (1,0.4,'hi')
type(tup) # Type of the tup variable is tuple

tuple

In [8]:
#Each element of a tuple can be accessed via an index.
tup[0]# calling index 0, give the output value as 1

1

In [9]:
# Negative indexing on the tuple
tup[-1]

'hi'

In [13]:
#Concatenating tuples 
tup2 = (14,10,1992)
x = tup+tup2
x

(1, 0.4, 'hi', 14, 10, 1992)

In [14]:
#Tuples slicing:
# If we want to extract the first three elements you can slice by the following code:
x[0:3]

(1, 0.4, 'hi')

In [18]:
#Similarly, if we want the last two elements, we use the following command.
x[4:6]

(10, 1992)

In [21]:
#to obtaing length of the tuple use len command:
len(x)# totally six elements are in the list

6

#### Tuples are immutable, which means we can't change them.Lets see an example

In [30]:
Ratings = (10,9,8,5,4,3,8,9,7)

In [31]:
Ratings1=Ratings
#Each variable does not contain a tuple, but references the same immutable tuple object.

In [32]:
Ratings[2]# since the tuple is immutable we cannot change the indexed element in second position,
#Therefore, Ratings 1 will not be affected by a change in Rating because the tuple is immutable i.e., we can't change it.

8

In [34]:
#Sorting tuple
RatingSorted = sorted(Ratings)
RatingSorted #The input is the original tuple.The output is a new sorted tuple.

[3, 4, 5, 7, 8, 8, 9, 9, 10]

#### Tuples Nesting:
A tuple can contain other tuples as well as other complex data types; this is called nesting. We can access these elements using the standard indexing methods.

In [35]:
tup3 = (1,2,("Hello","How Are You"),(3,4),("I am","Good"))#tuples containing other tuples

If we select an index with a tuple, the same index convention applies.
As such, we can then access values in the tuple.

In [44]:
#Example to obatain String "Hello"
tup3[2][0] 
#tuples nesting is helpful to visualize the elements as a tree.

'Hello'

#### work it out
1.Get the output as "Good" from tup3

2.What is the script for indexing of "How Are You"

In [47]:
# 1.
tup3[4][1]

'Good'

In [49]:
tup3[2][1]

'How Are You'

### Lists:
    - Lists are also a popular data structure in Python.
    - Lists are also an ordered sequence.
    - A list is represented with square brackets.
    - In many respects lists are like tuples, one key difference is they are mutable.
    - Lists can contain strings, floats, integers.
    - We can nest other lists.
    - We also nest tuples and other data structures; the same indexing conventions apply for nesting.

In [101]:
# Sample List

L1 = ["scarlet johanson", 14,"SJ",5]
L1

['scarlet johanson', 14, 'SJ', 5]

In [103]:
# List slicing

L1[1:4]

[14, 'SJ', 5]

In [104]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

Another similar method is <code>append</code>. If we apply <code>append</code> instead of <code>extend</code>, we add one element to the list:

In [105]:
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

 Each time we apply a method, the list changes. If we apply <code>extend</code> we add two new elements to the list. The list <code>L</code> is then modified by adding two new elements:

In [106]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

If we append the list  <code>['a','b']</code> we have one new element consisting of a nested list:

In [107]:

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

As lists are mutable, we can change them. For example, we can change the first element as follows:

In [108]:
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

We can also delete an element of a list using the del command:

In [109]:
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

We can convert a string to a list using <code>split</code>.  For example, the method <code>split</code> translates every group of characters separated by a space into an element in a list:

In [110]:
'hard rock'.split()

['hard', 'rock']

We can use the split function to separate strings on a specific character. We pass the character we would like to split on into the argument, which in this case is a comma.  The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [111]:
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [112]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

Initially, the value of the first element in <b>B</b> is set as hard rock. If we change the first element in <b>A</b> to <b>banana</b>, we get an unexpected side effect.  As <b>A</b> and <b>B</b> are referencing the same list, if we change list <b>A</b>, then list <b>B</b> also changes. If we check the first element of <b>B</b> we get banana instead of hard rock:

In [113]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [114]:
#You can clone list  **A** by using  the following syntax:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

 Variable **B** references a new copy or clone of the original list; this is demonstrated in the following figure:

Now if you change <b>A</b>, <b>B</b> will not change:

In [115]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

#### Work out

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

Find the value stored at index 1 of <code>a_list</code>.

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>: